/*
    font-family: 'Bebas Neue', sans-serif;

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #83e1ad;
    --cor1: #c5ebd6;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', cursive;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);

}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    text-align: center;
    padding: 40px;
    min-height: 150px;
}



header>h1 {
    color: #fff;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;

}

header p {
    color: #fff;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;

}

nav {
    background-color: var(--cor5);
    padding: 8px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.363);
    
}

nav a{
    color:var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: normal;
    transition: .5s;
    &:hover{
        opacity: 0.5;
    }
}

nav a i{
    margin-right: 3px;
}

main {
    background-color: #fff;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.247);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

main h1 {
    font-family: var(--fonte-android);
    letter-spacing: 0.1rem;
    text-align: center;
    text-shadow: 0 2px 5px 8px black;

}



main h2 {
    font-family: var(--fonte-android);
    letter-spacing: 0.1rem;
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    padding: 5px;
}

main p{
    margin: 15px 0;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

main strong{
    color: var(--cor4);
    padding: 2px 6px;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
    border-radius: 5px;
    &:hover{
        opacity: 0.8;
    }
}

main a::after{
    content: '⚓';
}


.video-content{
    background-color: var(--cor5);
    margin: 0 -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

.video-content iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.301);
}

aside ul{
    list-style-type: '✔️';
    list-style-position: inside;
    columns: 2;
}

aside h3{
    background-color: var(--cor4);
    color: #fff;
    padding: 15px;
    margin: -10px -10px 0 -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}


footer {
    background-color: var(--cor5);
    color: #fff;
    text-align: center;
    padding: 20px;
}